body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif
}


.App{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/musicBG.jpg) no-repeat center center fixed;
  width:auto;
  height: 100vh;
  background-size: cover;
}

